[2018-09-15 22:17] d-Rickyy-b opened #2 "API for accessing data from the server"
Since the Pastebin API only allows for one IP to be entered there should be an pastepwn API which allows for searching through pastes or getting statistics. Also it would be great if the application can be controlled via the API (e.g. adding new analyzers on the fly).

[2018-09-15 22:19] d-Rickyy-b opened #3 "Yara Analyzer"
Matching pastes with Yara rules could be interesting.

https://techanarchy.net/2017/09/hunting-pastebin-with-pastehunter/

[2018-09-15 22:21] d-Rickyy-b opened #4 "ActionHandler"
There needs to be another thread handling the triggered actions from the analyzers

[2018-09-15 22:22] d-Rickyy-b opened #5 "Implement WebhookAction"

[2018-09-15 22:23] d-Rickyy-b opened #6 "Add custom user agent to requests"

[2018-09-15 22:25] d-Rickyy-b opened #7 "Improve telegram message by telegramAction"

[2018-09-15 22:27] d-Rickyy-b opened #8 "Improve analyzer identifier"
There needs to be some way to store an identifyer for a certain analyzer to know why a paste was matched.

[2018-09-15 22:28] d-Rickyy-b opened #9 "Pass analyzer to action somehow"
The action should know why/by what it was triggered

[2018-09-15 22:29] d-Rickyy-b opened #10 "Add Travis"
Automatic tests and deployment are very nice

- [ ] Testing
- [ ] PyPi module build
- [ ] New GitHub Releases

[2018-09-15 22:30] d-Rickyy-b opened #11 "Create unit tests"
There are no tests yet. The code could have several bugs which are not found due to missing tests.

[2018-09-15 22:47] d-Rickyy-b opened #12 "Pass exception event to the scrapers, analyzers and actions"
This is currently not possible but should be.

[2018-09-16 14:41] #5 closed

[2018-09-16 14:41] #8 closed

[2018-09-16 14:48] d-Rickyy-b opened #13 "Blacklist for Wordanalyzer"
Maybe it would be helpful to add words to a blacklist to specify the wordanalyzer better

[2018-09-16 14:57] d-Rickyy-b opened #14 "URL Analyzer"
Additionally to that a subclass "PastebinURLAnalyzer" would be great to match pastebin urls inside pastes.

[2018-09-16 15:04] d-Rickyy-b commented on #12
I think I already implemented this

[2018-09-16 15:04] d-Rickyy-b commented on #9
This was implemented with the ActionHandler

[2018-09-16 15:04] #9 closed

[2018-09-16 15:27] d-Rickyy-b opened #15 "Hash Analyzer"
Add a Hash Analyzer which matches certain password hashes. Can inherit from RegexAnalyzer

[2018-09-16 15:30] d-Rickyy-b opened #16 "Credit Card data analyzer"
A regex analyzer which matches on credit card data

[2018-09-16 16:33] d-Rickyy-b opened #17 "Tags for pastes in the database"

[2018-09-17 18:42] d-Rickyy-b opened #18 "Create pypi module"
so that pastepwn can be installed via pip

[2018-09-17 18:42] d-Rickyy-b opened #19 "Add license"
There is no license on the code yet

[2018-09-17 19:38] #4 closed

[2018-09-17 21:24] d-Rickyy-b opened #20 "Proxy settings for request"
Currently it's not possible to run this framework behind a proxy

[2018-09-17 21:30] #19 closed

[2018-09-18 19:45] #6 closed

[2018-09-18 19:51] d-Rickyy-b commented on #16
https://www.regular-expressions.info/creditcard.html

[2018-09-18 19:52] d-Rickyy-b commented on #20
python-telegram-bot did a great job

https://github.com/python-telegram-bot/python-telegram-bot/blob/b9f56ca47900d92cd8757e72b392efef617997d3/telegram/utils/request.py#L127-L151

[2018-09-22 19:34] DaRuudii opened #21 "Syslog Action"
Implement an action which sends matched pastes to syslog.

[2018-09-24 10:48] d-Rickyy-b opened #22 "Analyzers: Thread Pool"
It's important to quickly analyze the pastes. Currently each paste is being processed in a single thread. It would be important to implement a thread pool which limits the amount of concurrent execution.

See https://www.metachris.com/2016/04/python-threadpool/

[2018-09-24 12:50] d-Rickyy-b commented on #12
The pastedispatcher, analyzerhandler and actionhandler get the exception event. The analyzers and actions themselves don't need them.

[2018-09-24 12:50] #12 closed

[2018-09-24 14:39] d-Rickyy-b opened #23 "API method: switch on/off pastepwn"
Switch on/off PastePwn

[2018-10-01 19:32] d-Rickyy-b commented on #21
This is a great issue for newcomers. Create a new class inheriting from the BasicAction (https://github.com/d-Rickyy-b/pastepwn/blob/master/actions/basicaction.py) and implement a method `perform`, which writes out the paste (as JSON?) to syslog

[2018-10-01 19:41] d-Rickyy-b commented on #16
Create a new Analyzer class inheriting from the RegexAnalyzer class. In the `match` function it should check the `paste.text` against a (or several) credit card regex's.

This is a good issue for newcomers.

[2018-10-01 20:28] #16 closed

[2018-10-02 14:26] lemonsaurus opened #27 "RegexAnalyzers should return what they find, instead of just indicating whether or not they found it."
I'm not sure whether this idea is compatible with your current idea of how this tool should be used, but it strikes me as odd that the RegexAnalyzers simply report whether or not a match was found, rather than returning all the data they were able to match.

For the PastebinURLAnalyzer I just made a pull request for, for example, I imagine it might be useful if you could feed it a number of pastes

[2018-10-02 18:09] d-Rickyy-b commented on #14
fixed by PR #25

[2018-10-02 18:09] #14 closed

[2018-10-02 18:11] d-Rickyy-b commented on #21
I am not sure if the logging module can be used (in a nice way) to log to syslog, or if an external package should be used. I am open to suggestions.

[2018-10-02 18:18] d-Rickyy-b commented on #15
Fixed by #26

[2018-10-02 18:18] #15 closed

[2018-10-02 18:19] d-Rickyy-b commented on #20
I guess this is an easy issue for people who already used **urllib3**. If you know how to add code to be able to use a proxy I would be very glad if you could help.

[2018-10-02 19:28] d-Rickyy-b commented on #27
This is indeed a very nice idea I thought of several times. Currently this is not possible as you said, but it also bugs me a bit that you can't get the "match" of an analyzer.

I am currently using Telegram to get notified about matches. If the message would tell the exact match it would be way easier to skim the results for "useful" pastes. I like the idea and let the issue open for further idea

[2018-10-02 23:36] StephenSorriaux commented on #20
Hi,

I could look into it. Is there a reason you are using **urllib3** and not **requests** (which is based on urllib3 too)?
By default, **requests** already use the environment variables HTTP_PROXY, HTTPS_PROXY to set the proxy. It is also possible to use a SOCKS proxy with the additionnal lib **requests[socks]**.

[2018-10-03 07:52] heavysaturn commented on #21
the `logging` module has a `SysLogHandler` so this should be fairly simple to handle without external packages.

[2018-10-03 09:44] d-Rickyy-b commented on #20
@StephenSorriaux thanks :)

I am not sure what the pros and cons of requests are. If you feel that requests is better, I would love to hear your reasons.

I thought that urllib3 might be more lightweight. But I am honest that I did not take much time for research of this topic.

[2018-10-03 09:47] d-Rickyy-b commented on #21
@heavysaturn is it possible to **only**  log the logs of one action to syslog then? Not that each debug output gets logged to syslog.

If that is possible it should be fairly simple and I'd be glad for any contribution - even if it's a 5 liner.

Greetings, Rico

[2018-10-03 10:42] StephenSorriaux commented on #20
I think you are right about urllib3 being more lightweight. But there is no difference between the two in performance's terms. Also, I noticed urllib is recommanding **requests** as HTTP client (https://docs.python.org/3/library/urllib.request.html#module-urllib.request)

AFAICT, **requests** will give you right away some new features:

- proxy support using environment variables
- `.netrc` suppor

[2018-10-03 10:50] heavysaturn commented on #21
If I understand you correctly, you're asking whether we can use the `SysLogHandler` from `logging` without adding it to logging everywhere else in the system. The answer is yes, you can make a separate logger which will only be used in that particular class. I can pull request something quickly for you to illustrate.

[2018-10-03 10:52] d-Rickyy-b commented on #21
I normally initialize the logging in the example file. There I add the handlers to the logging object. Now I only want the syslog action to log the specific pastes to the syslog only.

[2018-10-03 10:53] d-Rickyy-b commented on #20
Feel free to use requests if it means less work (not re-inventing the wheel).

Thanks a lot :)

[2018-10-03 10:56] heavysaturn commented on #21
yep, I see. Well, I would probably handle this particular logger within the SyslogAction class init then so the user doesn't have to configure that themselves. I threw together a quick example of this in #29

[2018-10-03 13:52] d-Rickyy-b commented on #21
fixed in #29

[2018-10-03 13:52] #21 closed

[2018-10-03 14:29] #13 closed

[2018-10-03 14:36] d-Rickyy-b opened #32 "Wrapper around various hash analyzers"
Users might not want to calculate their password hashes beforehand and thus might want to be able to use a wrapper (analyzer) around various hash analyzers. They initialize that wrapper with their password in the clear. The wrapper generates the hashes on the fly and checks each paste against those hashes.

I am not sure if that's a good idea but I'll leave this here for now.

[2018-10-03 21:57] d-Rickyy-b opened #34 "Fix Action imports"
As just done for the analyzers the actions should import the local files (`from .basicAction import BasicAction`) to prevent issues regarding import loops/conflicts.

[2018-10-04 20:13] d-Rickyy-b opened #35 "IBAN Analyzer"
There should be a way to analyze for IBANs.

The analyzer should inherit from the BasicAnalyzer or RegexAnalyzer class and should implement a method `match` which returns True if the `paste.body` contains a IBAN.

The constructor of the IBANAnalyzer should contain a parameter `validate=False` which can be set in order to validate the found IBAN.

[2018-10-05 21:42] d-Rickyy-b commented on #35
Was solved by @Double-A-92 with great presicion in PR #37.

[2018-10-05 21:42] #35 closed

[2018-10-07 21:00] d-Rickyy-b opened #38 "Database imports"
1) There are **missing** imports in the requirements.txt

2) Currently when using pastepwn a user needs to download ALL the db connector packages (mongo & mysql currently). Depending on the amount of db connectors which at some point will be supported by pastepwn, it might be stupid to have them all in the same package.

___

### Possible solution(s):
1) try-except the error and return an error me

[2018-10-07 21:02] d-Rickyy-b opened #39 ""Request" class singleton"
The request class should be made a singleton in order to be able to set proxy settings only once.

This must be done before merging #33

[2018-10-17 21:12] #39 closed

[2018-10-17 21:19] d-Rickyy-b commented on #34
This was already fixed by #40

[2018-10-17 21:19] #34 closed

[2018-10-20 01:22] #20 closed, assigned to nobody

[2018-10-20 10:08] StephenSorriaux commented on #18
If possible, can I take this one?

[2018-10-20 10:59] d-Rickyy-b commented on #18
Well, I would like to be the maintainer of the pypi module in the end - but I am glad about all the help which is needed in order to create the module.

[2018-10-22 18:44] #18 closed

[2018-10-25 23:04] #10 closed

[2018-10-26 22:06] d-Rickyy-b opened #47 "API method: Scrape specific paste"
There should be an API method to request the scraping of a specific paste

[2018-10-26 22:07] d-Rickyy-b opened #48 "Check paste insertion code of database adapters"
Check if an error is thrown if a duplicate paste ID is inserted into the db (and catch it otherwise or refactor code to be an upsert).

[2018-10-27 23:29] #7 closed

[2018-10-31 22:38] d-Rickyy-b opened #50 "API method: Fetch pastes in specific time frame"
The API should be able to return a specific amount of pastes from within a specific time frame.

Example Call:
/pastes/findByDate

Parameters:
- from_time
- to_time

[2019-01-09 20:43] d-Rickyy-b opened #53 "[MySQL] Auto-create database. if it doesn't exist yet."
If the specified database does not exist yet, create it for the user.

That seems to have several issues with SQLI... let's see.

[2019-02-20 20:08] d-Rickyy-b opened #54 "Create docker-compose.yml file"
Currently there is no (working) docker image available. The goal is to have a docker image + a docker-compose file which automatically starts a mongodb & pastepwn or a mysql & pastepwn or sqlite & pastepwn.

For that we need to read environment variables.

[2019-02-24 22:45] d-Rickyy-b opened #57 "Add possibility to force use IPv4 or IPv6"
If there are IPv4 and v6 available, the user should be able to force use one of them.

[2019-03-19 19:34] d-Rickyy-b commented on #57
https://stackoverflow.com/questions/33046733/force-requests-to-use-ipv4-ipv6

[2019-03-19 19:36] d-Rickyy-b opened #58 "Error / Exception handler"
Users might want to execute an action when the application crashes. Add proper support for an exception handler.

[2019-03-19 19:38] d-Rickyy-b opened #59 "E-Mail action"
There should be a possibility to send emails on certain pastes.

[2019-05-15 11:29] d-Rickyy-b opened #60 "On start method"
There are users which would like to perform an action when pastepwn is fully initialized and running. There should be a way to register a handler for that.

[2019-09-03 22:42] d-Rickyy-b opened #65 "Pastes missing content"
**Description**
Some pastes fetched from pastebin lack the paste's body - it will only contain the following text: `File is not ready for scraping yet. Try again in 1 minute.`

If this happens, the paste must be added back to the scraping queue and be scraped again.

[2019-09-04 18:00] d-Rickyy-b opened #67 "Do not save paste if it was deleted already"
If the paste's body is `Error, we cannot find this paste.`, it means that the paste was already deleted, before we could download it.

In that case we should not store, nor process it!

[2019-09-07 22:50] #65 closed

[2019-09-07 22:50] #67 closed

[2019-09-20 18:14] d-Rickyy-b commented on #3
I did not fully implement this yet, but you can simply add a custom analyzer as described in this wiki article: https://github.com/d-Rickyy-b/pastepwn/wiki/Workaround:-Using-yara-to-match-pastes

[2019-09-24 23:25] d-Rickyy-b opened #69 "Private Key Analyzer"
Match on `-----BEGIN PRIVATE KEY-----`

[2019-09-24 23:26] d-Rickyy-b opened #70 "Database Connector analyzer"
Match on database connection strings such as `mongodb://ip`

[2019-09-30 17:08] d-Rickyy-b commented on #69
To add a bit more context:

To solve this issue there needs to be a new analyzer added in the [analyzers directory](https://github.com/d-Rickyy-b/pastepwn/tree/master/pastepwn/analyzers). The analyzer must follow the example of the other analyzers in this directory.

The most simple example for such an analyzer is the [AlwaysTrueAnalyzer](https://github.com/d-Rickyy-b/pastepwn/blob/master/pastepwn

[2019-09-30 17:09] d-Rickyy-b commented on #70
To add a bit more context:

To solve this issue there needs to be a new analyzer added in the [analyzers directory](https://github.com/d-Rickyy-b/pastepwn/tree/master/pastepwn/analyzers). The analyzer must follow the example of the other analyzers in this directory. Don't forget to add the analyzer to the [analyzer package file](https://github.com/d-Rickyy-b/pastepwn/blob/master/pastepwn/analyzers

[2019-09-30 17:14] d-Rickyy-b commented on #59
To add a bit more context:

To solve this issue there needs to be a new action added in the [actions directory](https://github.com/d-Rickyy-b/pastepwn/tree/master/pastepwn/actions). The action must follow the example of the other analyzers in this directory. Don't forget to add the action to the [action package file](https://github.com/d-Rickyy-b/pastepwn/blob/master/pastepwn/actions/__init__.py).

[2019-09-30 17:35] d-Rickyy-b commented on #23
There will be another project to handle the pastepwn API

[2019-09-30 17:35] #23 closed

[2019-09-30 17:37] d-Rickyy-b commented on #17
This can be easily implemented for mongodb, but it's harder to do for classical relational databases such as sqlite. There needs to be a `tags` table with all the tags and another table for the relation between a paste and all the related tags.

[2019-09-30 17:42] #58 closed

[2019-09-30 20:35] d-Rickyy-b opened #71 "Twitter Action"
Similar to the good old [dumpmon on Twitter](https://twitter.com/dumpmon) it would be lovely to have a Twitter action which sends found pastes to twitter.

To add a bit more context:

To solve this issue there needs to be a new action added in the [actions directory](https://github.com/d-Rickyy-b/pastepwn/tree/master/pastepwn/actions). The action must follow the example of the other actions in thi

[2019-09-30 20:42] d-Rickyy-b opened #72 "Database Dump Analyzer"
There should be a new analyzer to find pastes which contain a database dump.

To solve this issue there needs to be a new analyzer added in the [analyzers directory](https://github.com/d-Rickyy-b/pastepwn/tree/master/pastepwn/analyzers). The analyzer must follow the example of the other analyzers in this directory. Don't forget to add the analyzer to the [analyzer package file](https://github.com/

[2019-09-30 22:12] d-Rickyy-b commented on #53
[Here](https://github.com/d-Rickyy-b/pastepwn/blob/master/pastepwn/database/mysqldb.py#L37) we create the tables - before that line there must be the creation of the database if it does not exist yet.

[2019-09-30 22:47] d-Rickyy-b commented on #47
This issue is out of scope. There will be another repository for the pastepwn api.

[2019-09-30 22:47] #47 closed

[2019-10-01 20:20] sedaboni commented on #72
#76

[2019-10-01 23:15] trixpan commented on #72
happy to own this

[2019-10-01 23:17] trixpan commented on #54
nice idea. I would suggest the 3rd option. Will submit a PR shortly

[2019-10-02 10:58] aditya274 commented on #59
[**Email action implementation**](https://github.com/d-Rickyy-b/pastepwn/pull/78)

[2019-10-03 08:45] d-Rickyy-b commented on #69
Fixed in #74

[2019-10-03 08:45] #69 closed

[2019-10-03 08:56] d-Rickyy-b commented on #32
To add a bit more context:

The goal of this issue is to provide the user with a new [analyzer](https://github.com/d-Rickyy-b/pastepwn/tree/master/pastepwn/analyzers) or [utility](https://github.com/d-Rickyy-b/pastepwn/tree/master/pastepwn/util). From my perspective a new analyzer makes more sense, but if you come up with a nice solution, feel free to do whatever you like.

I think of a new class

[2019-10-03 09:26] d-Rickyy-b commented on #2
The API will be developed in an extra package.

[2019-10-03 09:26] #2 closed

[2019-10-03 12:39] d-Rickyy-b commented on #50
API methods are tracked in another repo which will be made public when it's ready.

[2019-10-03 12:39] #50 closed

[2019-10-03 12:42] Mxrk opened #80 "Slack Action"
Send pastes to Slack channels

[2019-10-03 12:44] Mxrk opened #81 "MISP Action"
Would be nice to be able to send alerts to MISP.

[2019-10-03 13:35] d-Rickyy-b commented on #70
Implemented in #79 - needs some field testing with live pastebin data

[2019-10-03 14:53] d-Rickyy-b opened #82 "Email and password pair analyzer"
There should be a new analyzer to find pastes which contain email/password pairs.

To solve this issue there needs to be a new analyzer added in the [analyzers directory](https://github.com/d-Rickyy-b/pastepwn/tree/master/pastepwn/analyzers). The analyzer must follow the example of the other analyzers in this directory. Don't forget to add the analyzer to the [analyzer package file](https://github

[2019-10-03 15:10] d-Rickyy-b commented on #72
Hey @trixpan you are of course free to work on this - BUT there have been two PRs already for this issue (#76 and #75). In order to prevent duplicate work I would suggest picking another issue. All issues I marked as hacktoberfest are pretty easy to implement in no longer than ~30 minutes max.

[2019-10-03 15:29] Mxrk opened #83 "Discord Action"

[2019-10-03 15:30] d-Rickyy-b commented on #80
I am not sure if posting content to slack is as easy as it is with Telegram.

To solve this issue there needs to be a new action added in the [actions directory](https://github.com/d-Rickyy-b/pastepwn/tree/master/pastepwn/actions). The action must follow the example of the other actions in this directory. Don't forget to add the action to the [action package file](https://github.com/d-Rickyy-b/pas

[2019-10-03 15:35] d-Rickyy-b commented on #83
It would be awesome to have a new action which sends found pastes to a discord channel.

To solve this issue there needs to be a new action added in the [actions directory](https://github.com/d-Rickyy-b/pastepwn/tree/master/pastepwn/actions). The action must follow the example of the other actions in this directory. Don't forget to add the action to the [action package file](https://github.com/d-R

[2019-10-03 17:59] dynomite567 commented on #83
I would love to tackle this issue. Let me at it!

[2019-10-03 18:17] d-Rickyy-b commented on #83
Hey @dynomite567, thanks a lot for your interest. I am not sure if @Mxrk was about to implement this. Just to make sure to avoid double work.

In case @Mxrk is working on it, you could create a PR if you find something that should be changed in his code.

[2019-10-03 18:42] d-Rickyy-b commented on #83
There are 2 ways on how to post messages to discord:
1) [Webhooks](https://discordapp.com/developers/docs/resources/webhook#execute-webhook)
2) Via a bot

Best would be to have both ways available.

[2019-10-03 18:43] Mxrk commented on #83
@dynomite567 Hey, you can still add the other way to send messages to a channel (or user). I only did the webhook way.

[2019-10-03 19:55] dynomite567 commented on #83
So, I can see how to do this one to two ways. One, I can create a whole another action file named DiscordBotAction.py and create the whole function there and also (possibly) rename the current DiscordAction.py to something like DiscordWebhookAction.py or something shorter. The other option is for me to figure out a way to implement the bot functions into one DiscordAction.py, however it may compli

[2019-10-03 20:16] d-Rickyy-b commented on #83
If it's too stuffed, put it into another file otherwise you could use the same file if there is not much code.

Maybe you can check out the following gist. Should be easy to implement I think. And no requirements needed. But I only had a quick look so not sure if that fits well.

https://gist.github.com/ianklatzco/769d9e3a991dc2f443a2e105b0157117

[2019-10-03 22:59] dynomite567 commented on #83
Seems like it still needs some way to connect to a web socket on first run, so it looks like discord.py might still be required for that function. Regardless, I was able to fit everything onto one file, and I should have a PR ready for review if you want to look.

[2019-10-04 04:49] bajubullet commented on #82
@d-Rickyy-b I would like to create a PR for this issue

[2019-10-05 03:37] rpartha commented on #80
Can I call dibs?

[2019-10-05 15:28] Selich commented on #54
I could do that, no biggy. Can you just elaborate more?
As I understand it: you just want to start a docker container when you run a pastepwn?

[2019-10-05 16:06] d-Rickyy-b commented on #54
Hi @Selich, thanks for your interest.

I want to have a dockerfile which builds a docker container of pastepwn. I just noticed that I already created a dockerfile some time ago (check [docker hub](https://cloud.docker.com/repository/docker/0rickyy0/pastepwn/builds)). The dockerfile for that is also in the repo already.

The thing that's still missing is the docker-compose file with which you could

[2019-10-05 16:28] d-Rickyy-b opened #89 "Refactor templating for messages"
Currently each action itself needs to implement the templating. This should be moved to a paste class. Best would be to put it into some kind of abstract base class.

I **don't** think that this issue is suitable for hacktoberfest. If you feel different, you can create pull requests for it. But I can't promise to merge them, because I have very exact conceptions about how this should work.

[2019-10-05 16:54] d-Rickyy-b opened #90 "Phone number analyzer"
There should be a new analyzer to find pastes which contain phone numbers.

To solve this issue there needs to be a new analyzer added in the [analyzers directory](https://github.com/d-Rickyy-b/pastepwn/tree/master/pastepwn/analyzers). The analyzer must follow the example of the other analyzers in this directory. Don't forget to add the analyzer to the [analyzer package file](https://github.com/d-

[2019-10-05 17:22] d-Rickyy-b opened #92 "Add PastebinScraper by default, since it's currently the only scraper"
When the `scraping_handler.scrapers` list is empty and the start method (see below) is being called, a new instance of PastebinScraper should be initialized and added via `self.add_scraper(PastebinScraper)` in line 97.

https://github.com/d-Rickyy-b/pastepwn/blob/641afb3174c999a2f8a18d522791227a3a3b8189/pastepwn/core/pastepwn.py#L92-L100

[2019-10-05 17:33] Samyak2 commented on #92
I would like to work on this.

[2019-10-05 17:41] Selich commented on #54
Thanks, @d-Rickyy-b for the clear up.
I will start working on it and check the start.py file.
Gonna report in a few days if something comes up.

[2019-10-05 17:58] dmoneyballer commented on #90
This seems easy enough, I'll take a crack at it

[2019-10-05 17:59] d-Rickyy-b commented on #90
Hey @dmoneyballer - before you start, please check #91 - someone started work on it already. I just want to avoid duplicate work.

Thanks for your interest :)

[2019-10-05 18:17] dmoneyballer commented on #90
Thanks for the heads up

[2019-10-05 19:10] qkniep commented on #90
I created pull request #94 to improve upon #91 and also add test cases to verify.

[2019-10-05 20:16] #90 closed

[2019-10-06 00:32] d-Rickyy-b opened #96 "Steam key analyzer"
There should be a new analyzer to find pastes which contain Steam keys. I don't expect this task to take more than 30 minutes to implement.

To solve this issue there needs to be a new analyzer added in the [analyzers directory](https://github.com/d-Rickyy-b/pastepwn/tree/master/pastepwn/analyzers). The analyzer must follow the example of the other analyzers in this directory. Don't forget to add

[2019-10-06 00:37] d-Rickyy-b opened #97 "Epic Games key analyzer"
There should be a new analyzer to find pastes which contain 'Epic Games' keys. I don't expect this task to take more than 30 minutes to implement.

To solve this issue there needs to be a new analyzer added in the [analyzers directory](https://github.com/d-Rickyy-b/pastepwn/tree/master/pastepwn/analyzers). The analyzer must follow the example of the other analyzers in this directory. Don't forget

[2019-10-06 00:42] d-Rickyy-b opened #98 "Create unit test for CreditCardAnalyzer"
The current implementation of the [CreditCardAnalyzer](https://github.com/d-Rickyy-b/pastepwn/blob/master/pastepwn/analyzers/creditcardanalyzer.py) did not get any unit tests yet. This should change now.

To resolve this task you need to create a new unit test file in the [tests directory](https://github.com/d-Rickyy-b/pastepwn/tree/master/pastepwn/analyzers/tests) named `creditcardanalyzer_test.p

[2019-10-06 00:45] d-Rickyy-b commented on #81
It would be awesome to have a new action which sends found pastes to a [MISP](https://github.com/MISP/MISP) instance.

To solve this issue there needs to be a new action added in the [actions directory](https://github.com/d-Rickyy-b/pastepwn/tree/master/pastepwn/actions). The action must follow the example of the other actions in this directory. Don't forget to add the action to the [action packag

[2019-10-06 00:56] d-Rickyy-b opened #99 "Create unit test for PastebinURLAnalyzer"
The current implementation of the [PastebinURLAnalyzer](https://github.com/d-Rickyy-b/pastepwn/blob/master/pastepwn/analyzers/pastebinurlanalyzer.py) did not get any unit tests yet. This should change now.

To resolve this task you need to create a new unit test file in the [tests directory](https://github.com/d-Rickyy-b/pastepwn/tree/master/pastepwn/analyzers/tests) named `pastebinurlanalyzer_tes

[2019-10-06 00:58] palaparthi commented on #99
I can take this up

[2019-10-06 01:07] d-Rickyy-b opened #100 "Hacktoberfest general info"
Hey there 👀. Yes you!

You are looking through the issues and are interested in participating in the [hacktoberfest](https://hacktoberfest.digitalocean.com/)-challenge? Well then don't leave. My project **"pastepwn"** offers you a lot of easy Pull Requests and fun issues. Just check out the issues marked with the hacktoberfest label.

Make sure to leave a comment in the issue so that other contrib

[2019-10-06 01:08] d-Rickyy-b commented on #98
Issue is reserved for @cutted.

[2019-10-06 01:17] d-Rickyy-b opened #101 "Create unit test for SHAHashAnalyzer"
The current implementation of the [SHAHashAnalyzer](https://github.com/d-Rickyy-b/pastepwn/blob/master/pastepwn/analyzers/shahashanalyzer.py) did not get any unit tests yet. This should change now.

To resolve this task you need to create a new unit test file in the [tests directory](https://github.com/d-Rickyy-b/pastepwn/tree/master/pastepwn/analyzers/tests) named `shahashanalyzer_test.py`. It sh

[2019-10-06 01:24] d-Rickyy-b opened #102 "Several fixes"
This is a collection for several minor issues that need fixing.
- [x] Rename test located in [PrivateKeyAnalyzer test](https://github.com/d-Rickyy-b/pastepwn/blob/0c87633252f5cdebafcc30ca77b7acc9f67c74cf/pastepwn/analyzers/tests/privatekeyanalyzer_test.py#L8)
- [x] Make use of new templating engine in all actions which use templating
- [x] Add `# -*- coding: utf-8 -*-` to all files if not present

[2019-10-06 01:27] bcongdon commented on #101
I'll take this

[2019-10-06 01:41] lringham commented on #97
Hey, can I be assigned to this issue?

[2019-10-06 01:42] d-Rickyy-b commented on #97
@lringham Sure, now you are :) thanks for helping.

[2019-10-06 01:44] d-Rickyy-b commented on #80
Initial integration done in PR #88

[2019-10-06 01:46] #71 closed

[2019-10-06 02:02] d-Rickyy-b commented on #101
Fixed in #103

[2019-10-06 02:02] #101 closed

[2019-10-06 02:10] mikek2 commented on #96
I'm interested in getting this one.

Just one thing to clarify about the example of steam keys provided - is it sufficient to create a regex to check the first half of the paste? (just the serial number, as opposed to the serial and game name)

[2019-10-06 02:11] d-Rickyy-b commented on #96
Hi there :) sure, I will assign you right away.

It's sufficient to create a new analyzer subclassing RegexAnalyzer and creating a simple regex for the game key. Should not be too hard. The game name is not important.

[2019-10-06 02:28] palaparthi commented on #99
There is no start.py? Was wondering how to run the project

[2019-10-06 02:31] d-Rickyy-b commented on #99
You would need to copy the example.py from the examples directory. But that will only work when you got a pastebin pro account.

Better to run the unit tests independently with `python -m unittest discover -s . -v -p "*_test.py"`

[2019-10-06 02:32] d-Rickyy-b commented on #38
Optional packages could help fixing this issue.

https://stackoverflow.com/questions/11240285/can-i-define-optional-packages-in-setuptools

[2019-10-06 04:21] palaparthi commented on #99
Just to be clear is www.pastebin.com/something or pastebin.com/something considered a valid pastebin url?

[2019-10-06 08:22] d-Rickyy-b commented on #99
Since there were no unit tests yet it is possible that the current implementation is broken or faulty.

Only pastebin.com/something with http and https prefixed is a valid url.

It is okay when tests fail because of coding errors in pastepwn. That's what tests are for right? :blush:

[2019-10-06 08:42] #96 closed

[2019-10-06 12:47] Zeroji commented on #83
Hi,

I might have found a way to make it work without the requirement for discord.py (which keeps the 3.4 compatibility), I'm making a PR right now forked off Mxrk's commits (I hope doing it this way can work)

[2019-10-06 13:11] #92 closed

[2019-10-06 14:08] d-Rickyy-b commented on #98
Integrated in #104 - waiting for a fix of the credit card analyzer before merging.

[2019-10-06 14:12] suparnasnair commented on #53
Hi, I was looking into the code. I could see a line commented above your given statement which has been commented. Could you please tell me why uncommenting this will not be a solution?

[2019-10-06 14:18] d-Rickyy-b commented on #54
I just noticed, that there is some information missing to solve this issue:

1) There is currently no start.py file
2) The start.py file will be created by a user. They can use the [example.py](https://github.com/d-Rickyy-b/pastepwn/blob/master/examples/example.py) file to configure the pastepwn instance.
3) In the docker-compose file there must be a read-only volume mapping of the `/file/to/user/

[2019-10-06 14:23] d-Rickyy-b commented on #53
Hi @suparnasnair thanks for commenting :). I totally forgot that I started implementing that.

https://github.com/d-Rickyy-b/pastepwn/blob/master/pastepwn/database/mysqldb.py#L41-L48

Sadly this brings the possibility of an SQL injection. While the user itself got access to the database and needs to configure the database name themself, I am not sure if it's a good idea to leave that open for an S

[2019-10-06 22:24] d-Rickyy-b opened #115 "Split up requirements in multiple files"
Create a `requirements_full.txt` and `requirements_minimum.txt` to separate the packages which are needed for pastepwn itself and the ones which are needed for certain packages.

[2019-10-06 22:24] d-Rickyy-b commented on #115
References #38

[2019-10-06 22:37] #83 closed

[2019-10-07 04:35] lringham commented on #97
Hey Ricky,

Which folder should contain the unit tests?

[2019-10-07 05:06] d-Rickyy-b commented on #97
Hi there. In the analyzers directory there is a tests folder. There are examples of other tests already.

[2019-10-07 14:57] synackray commented on #97
I created #118 with the base requirements. If there are additional keys to compare against, the regex can be adjusted to not match against illegal characters.

[2019-10-07 16:26] #97 closed

[2019-10-07 16:37] d-Rickyy-b opened #119 "Implement new Scraper for GitHub Events"
Similar to [shhgit](https://shhgit.darkport.co.uk/) ([repo link](https://github.com/eth0izzle/shhgit)) there could be a new parser which clones a repo and checks files with the given analyzers.

For now this is just a random idea with close to no detailled thoughts on how to implement this. There is the GitHub [Events API](https://developer.github.com/v3/activity/events/) which is also used by shh

[2019-10-07 16:39] d-Rickyy-b commented on #70
I just want to test this analyzer with live pastebin data on as many pastes as possible to make sure there are no false positives ^^. Nothing special. I could close this issue and create a new one when I come across any issue.

[2019-10-07 16:39] #70 closed

[2019-10-07 16:49] #82 closed

[2019-10-07 16:56] YellowFoxH4XOR commented on #70
Sure I will try finding  some false positive cases :)

On Mon, Oct 7, 2019, 10:09 PM Rico <notifications@github.com> wrote:

[2019-10-07 17:10] d-Rickyy-b opened #120 "Implement Base64 Analyzer"
There should be a new analyzer to find pastes which (probably) contain base64 encoded texts.

To solve this issue there needs to be a new analyzer added in the [analyzers directory](https://github.com/d-Rickyy-b/pastepwn/tree/master/pastepwn/analyzers). The analyzer must follow the example of the other analyzers in this directory. Don't forget to add the analyzer to the [analyzer package file](htt

[2019-10-07 17:37] martin-bucinskas commented on #120
Looks interesting, will check this out today and submit a PR if you don't mind!

[2019-10-07 17:37] d-Rickyy-b commented on #120
Sounds good :)

[2019-10-07 17:56] d-Rickyy-b opened #122 "Implement AWS Session Token Analyzer"
There should be a new analyzer to find pastes which (probably) contain aws session tokens.

To solve this issue there needs to be a new analyzer added in the [analyzers directory](https://github.com/d-Rickyy-b/pastepwn/tree/master/pastepwn/analyzers). The analyzer must follow the example of the other analyzers in this directory. Don't forget to add the analyzer to the [analyzer package file](https

[2019-10-07 17:57] d-Rickyy-b opened #123 "Implement AWS Secret Access Key Analyzer"
There should be a new analyzer to find pastes which (probably) contain aws secret access keys.

To solve this issue there needs to be a new analyzer added in the [analyzers directory](https://github.com/d-Rickyy-b/pastepwn/tree/master/pastepwn/analyzers). The analyzer must follow the example of the other analyzers in this directory. Don't forget to add the analyzer to the [analyzer package file](h

[2019-10-07 17:58] d-Rickyy-b opened #125 "Implement Facebook access token Analyzer"
There should be a new analyzer to find pastes which (probably) contain facebook access tokens.

To solve this issue there needs to be a new analyzer added in the [analyzers directory](https://github.com/d-Rickyy-b/pastepwn/tree/master/pastepwn/analyzers). The analyzer must follow the example of the other analyzers in this directory. Don't forget to add the analyzer to the [analyzer package file](h

[2019-10-07 18:39] Adam-Jimenez commented on #125
Do you know where I could find example tokens? I tried creating one and it didn't look like the format specified on shhgit.

[2019-10-07 18:39] jmmille commented on #123
I'll take this one.

[2019-10-07 18:59] d-Rickyy-b commented on #125
Good question. I don't know :see_no_evil:. If you find other formats, you can implement them as well.

[2019-10-07 19:18] R4H33M commented on #60
I would like to take this one! :)

[2019-10-07 21:04] d-Rickyy-b commented on #120
Fixed in #127

[2019-10-07 21:04] #120 closed

[2019-10-07 21:10] d-Rickyy-b commented on #60
@R4H33M thank you :) feel free to ask any questions. I usually reply within 1-3 hours during 9-23 o'clock UTC+2.

To specify a bit more:

### Definition of done
1) There is a way to register one (or multiple) function(s) as handlers
2) That function(s) will be executed after the start() method finished
3) That function(s) will be executed within a `try: ... except:` clause
4) Errors will be logged

[2019-10-07 21:37] d-Rickyy-b commented on #59
I need a bit more time to check the given implementations.

[2019-10-07 21:43] d-Rickyy-b commented on #89
fixed in 8481036cc664011bfa5e778a845051426426f134

[2019-10-07 21:43] #89 closed

[2019-10-07 21:46] #125 closed

[2019-10-07 21:48] d-Rickyy-b opened #128 "Implement Slack Token Analyzer"
There should be a new analyzer to find pastes which (probably) contain slack tokens.

To solve this issue there needs to be a new analyzer added in the [analyzers directory](https://github.com/d-Rickyy-b/pastepwn/tree/master/pastepwn/analyzers). The analyzer must follow the example of the other analyzers in this directory. Don't forget to add the analyzer to the [analyzer package file](https://git

[2019-10-07 21:50] d-Rickyy-b opened #129 "Implement Slack Webhook Analyzer"
There should be a new analyzer to find pastes which (probably) contain slack webhook urls.

To solve this issue there needs to be a new analyzer added in the [analyzers directory](https://github.com/d-Rickyy-b/pastepwn/tree/master/pastepwn/analyzers). The analyzer must follow the example of the other analyzers in this directory. Don't forget to add the analyzer to the [analyzer package file](https

[2019-10-08 00:15] dmoneyballer commented on #128
I'll take a stab at this one

[2019-10-08 00:17] dmoneyballer commented on #128
Are these the kind of slack tokens we are trying to match?
https://api.slack.com/docs/token-types

[2019-10-08 00:47] lpraz commented on #27
Would the analyzers, instead of returning True/False, return lists of matches including the text that was found and possibly the starting and ending line/column numbers for each match? The actions would need some reworking as well to pass on this information. This all seems doable with Python's regex, though.

[2019-10-08 02:11] dmoneyballer commented on #128
I created a pull request #133

[2019-10-08 02:39] s3cpat commented on #129
Dibs, please :)

[2019-10-08 04:40] grimmjow8 commented on #122
I'd like to tackle this one.

[2019-10-08 10:10] d-Rickyy-b commented on #27
Hi and thanks for your interest. Yes that would be able with python's regex. But I am not sure how I want to build the architecture for the actions in that case. I'll update this issue in the next days with further information.

[2019-10-08 11:26] R4H33M commented on #60
I have added this functionality: #136
I hope it meets expectations ;)

[2019-10-08 11:42] d-Rickyy-b commented on #60
Will take a look shortly :) thank you.

[2019-10-08 17:13] d-Rickyy-b commented on #129
Implemented in #135

[2019-10-08 17:13] #129 closed

[2019-10-09 07:49] Zeroji commented on #81
I'd like to tackle this one. I've almost managed to get MISP to run in Docker, hopefully it works and then I can try out my code - automated tests won't be possible (by me at least) though.

I have questions regarding the data output:

[code]

This is the sample event object in the [MISP docs](https://www.circl.lu/doc/misp/automation/#post-events)
that has to be passed to their API, but I have no

[2019-10-09 10:28] Zeroji commented on #81
Work in progress in [misp-action](https://github.com/Zeroji/pastepwn/tree/misp-action)
I made the action have a `transformer` parameter which can be used to specify a function to transform a Paste into a MISP event object, still have to build a default one but it's on its way.

[2019-10-09 12:45] d-Rickyy-b commented on #81
@Zeroji Hi, thanks for the work. I don't have time to check it currently. Will try to have a look tonight!

[2019-10-09 13:48] Raavtube commented on #59
What do you mean by sending emails on certain pastes? Like when the analization is done?

[2019-10-09 14:04] d-Rickyy-b commented on #59
Hi there. This issue got already two implementations so I don't think you should invest more time into it.

You can of course check the current PRs and improve them.

[2019-10-09 17:18] Raavtube commented on #59
Ok sounds good

Thanks,
Ryan Vogel
CEO of Start from Scratch
Contact me at info@raavcorp.com
Visit my website raavcorp.com

On Wed, Oct 9, 2019 at 10:04 AM Rico <notifications@github.com> wrote:

[2019-10-09 17:29] d-Rickyy-b commented on #123
fixed in #132

[2019-10-09 17:29] #123 closed

[2019-10-09 18:10] d-Rickyy-b opened #144 "Current travis config leads to (up to) 4 coverage reports on coveralls per file"
This is due to the fact that the travis config defines 4 python versions to run on.
https://github.com/d-Rickyy-b/pastepwn/blob/f9bd202d0813aebb6bc3f189a43158227ca2bdea/.travis.yml#L3-L7

![grafik](https://user-images.githubusercontent.com/5798157/66507984-83645a80-ead0-11e9-93e7-6820f44a421e.png)

This could be fixed with to a [build matrix](https://docs.travis-ci.com/user/build-matrix/#using-dif

[2019-10-09 18:36] #128 closed

[2019-10-09 18:41] d-Rickyy-b commented on #81
Hey, just seen your EDIT. Yes, you should extend BasicAction. The text does not say that you should extend GenericAction, I just wanted to say that it's the easiest (working) Action I built. But yes, I should have added what base class to extend :)

I will check out your PR tomorrow. Had a stressful day today. Thanks for participating.

[2019-10-09 18:54] Zeroji commented on #81
No worries, take your time! However for your own sake try to find a running MISP instance, because it took Docker about an hour and a half to build mine :stuck_out_tongue:

[2019-10-09 20:42] sharon8 commented on #48
Hi @d-Rickyy-b I'd like to tackle this issue. Is there anything I should know before starting?

Thanks : )

[2019-10-09 20:46] d-Rickyy-b commented on #48
Hi there, thanks for your interest. This issue is about creating test cases where for example duplicate pastes are inserted and how the database connectors will handle these cases.

Make sure to test what the current implementation does and in case an exception happens also make sure to either catch the exception for now or refactor the code so that instead of only inserting do an upsert of the da

[2019-10-09 23:32] wescran commented on #144
I'm new to travis-ci but can take a shot at this :)

[2019-10-10 13:26] wescran commented on #144
Hi, just a quick question. Out of the 4 python versions in `.travis.yml` which one would you like to have for the after_success command?

[2019-10-10 13:34] d-Rickyy-b commented on #144
@wescran Hi there. Fair question! I would like to always use the newest python version (which is specified in the config) - in this case 3.7.

[2019-10-10 13:34] Zeroji commented on #32
I'll take this one! Actually seems pretty straightforward when using `hashlib`.

I feel like this would be most useful by taking a list of passwords as parameters, maybe checking that the argument isn't a string to prevent users from calling `func('pass')` instead of `func(['pass'])`.

Is it desirable to know which kind of hash was found? If not I'll simply extend RegexAnalyzer with careful patter

[2019-10-10 13:45] d-Rickyy-b commented on #32
Hi there, you could probably also use a wordanalyzer for that, since we want to match exact ASCII text after generating the hashes.

I would prefer a way to be able to submit either a string or a list of strings (similar to the way analyzers can take an action or a list of actions).

I personally would not care much which kind of hash was found. To me it only seems important to know that a hashed

[2019-10-10 13:55] Zeroji commented on #32
I was going to use something like `\b(hash1|hash2|...)\b`, but I just noticed RegexAnalyzer doesn't allow passing `re.IGNORECASE` along with the pattern :(

Yes, that's what I meant - I looked at BasicAnalyzer and it does exactly what I thought.

Regarding bcrypt hashes, there's a pypi module for that, and we have `BcryptHashAnalyzer` (regex based) so either add it as optional dependency or drop i

[2019-10-10 14:05] d-Rickyy-b commented on #32
True, I should improve the regexanalyzer to take flags. But that's another issue.

If the bcrypt thing is not possible without another module, I would drop that part for now.

How about using the wordanalyzer (or regexanalyzer) for now and migrate to a better solution later (e.g. with flags when I implemented them)?

[2019-10-10 14:06] d-Rickyy-b commented on #32
The bcrypt analyzer available in pastepwn matches on all possible regexes

[2019-10-10 14:12] Zeroji commented on #32
If you want I can just add a `flags` arguments to the RegexAnalyzer while I'm at it, it's pretty straightforward!

[2019-10-11 10:32] razper commented on #53
basically you can't overcome the SQL injection problem because the prepared statements won't work on 'CREATE DATABASE' , the only option i can think of is to add a library that escape from sql injection attacks or presetting the database name ( hard coded).

[2019-10-11 10:39] d-Rickyy-b commented on #53
@razper Hmm, maybe presetting the name to a hardcoded one would be a great solution for now. I would have to check back on what needs to be changed and update the requirements for the issue accordingly. Thank you.

[2019-10-11 19:15] wescran commented on #144
Okay so I started out with writing a build matrix for using `3.7` but then I found there was a [travis environment variable](https://docs.travis-ci.com/user/environment-variables/#default-environment-variables) for the python version used in the job. So I wondered if it would be easier to just have a conditional for the `after_success` phase using the `TRAVIS_PYTHON_VERSION`.

This is what I had f

[2019-10-13 15:13] #122 closed

[2019-10-14 12:49] R4H33M commented on #60
Thanks for merging! Really appreciate it! Also, maybe you forgot to close this issue??

[2019-10-14 14:23] d-Rickyy-b commented on #60
Hi there. Yes, thanks for pointing that out. Quick tip: when you write `#fixes #60` in the commit description, then the issue will automatically be closed after the PR is merged.

Thanks for your work.

[2019-10-14 14:23] #60 closed

[2019-10-15 22:55] wescran commented on #144
@d-Rickyy-b I am leaning towards the latter option for the `.travis.yml` file. Let me know if you think that option is good or if there is something else you would prefer. Thanks :)

[2019-10-15 22:58] d-Rickyy-b commented on #144
Hey there @wescran, sorry for the long silence. I think for now it would be better to implement the latter option as you suggested. I think the first solution does not really look clean. The second one is a lot more tidy and allows for easier changes.

Looking forward to your PR.

[2019-10-16 17:45] sharon8 commented on #48
Yes. Please take it. I was unable to get to it

Thanks,

On Wed, Oct 16, 2019, 18:59 Daniel Hähnke <notifications@github.com> wrote:

[2019-10-16 17:58] d-Rickyy-b commented on #48
@DanBenHa Sure, you can take it :) thanks for your help.

[2019-10-16 20:03] DanBenHa commented on #48
I'm kind of new to all those databases. Which one should I best start with?

Also, is there a self-contained example as to the usage of pastepwn? I tried examples/example.py and it can connect to a local MongoDB if I remove the IP, but the script throws an error on the telegram action.
How do I provide pastebin URLs to pastepwn?

Sorry for these stupid questions...

[2019-10-16 21:46] d-Rickyy-b commented on #48
@DanBenHa first things first: Every unit/piece of code for pastepwn is self-contained. That means that you don't need to test the integration with other code and hence you don't need to run the example.py file. That file is an example for people who want to play around with pastepwn.

That being said you can test the database connection yourself by simply setting up a mongodb (or other database) i

[2019-10-18 18:52] #144 closed

[2019-10-22 00:15] DanBenHa opened #155 "[SQLite] Create database file in current directory throws error"
**Description**
Creating new SQLite database fails if dbpath does not contain subfolder or absolute path.

**Steps To Reproduce**
[code]

Gives this error:

[code]

**Expected behavior**
Create database file in current directory.

[2019-10-22 13:08] brandonlbarrow commented on #54
This seems to still be outstanding so I'll take a shot at it

[2019-10-22 13:58] brandonlbarrow commented on #54
https://github.com/d-Rickyy-b/pastepwn/pull/157

[2019-10-24 22:06] d-Rickyy-b commented on #155
Thanks for finding.
The default parameter for the dbpath should also be adjusted. No idea how this ever worked.

https://github.com/d-Rickyy-b/pastepwn/blob/master/pastepwn/database/sqlitedb.py#L11

[2019-10-25 21:58] d-Rickyy-b commented on #72
Merged #76

[2019-10-25 21:58] #72 closed

[2019-10-25 22:02] #48 closed

[2019-10-26 04:36] DanBenHa commented on #155
What should the default path be?

[2019-10-26 11:43] d-Rickyy-b commented on #155
It should be the current working directory + `pastepwn.db`.

I think there should be a check if the path `is None or ""` and if true, then we can set it with:
[code]

[2019-10-26 11:56] d-Rickyy-b commented on #59
implemented in #78

[2019-10-26 11:56] #59 closed

[2019-10-27 14:17] #81 closed

[2019-10-27 15:13] #155 closed

[2019-10-27 15:26] #32 closed

[2019-11-01 15:47] Samyak2 commented on #119
Would the scraper need to run all analyzers on all files in the cloned repo? Or would it only download the files?

[2019-11-01 16:04] d-Rickyy-b commented on #119
@Samyak2 The scraper would only download the files and put them into a queue similar to the pastebin scraper. Running the analyzers is not the task of the scrapers.

Maybe this architectural illustration can show the inner workings better:

![pastepwn-detail-architecture](https://user-images.githubusercontent.com/5798157/68038003-3e93a400-fcc9-11e9-9834-6d3ef2bdbbf0.png)

The interesting part is i

[2019-11-04 09:52] Samyak2 commented on #119
I understand the flow now. I will try to understand the Pastebin scraper and then start work on this.

[2019-11-04 09:57] d-Rickyy-b commented on #119
I will update the image later. There are a few issues with it...

But the flow is the same. If you need help anywhere, feel free to contact me. I'll be happy to help.

[2019-11-12 18:11] DaRuudii opened #161 "Many DNS requests for domain api.ipify.org"
**Description**
pastepwn creates many DNS requests for the domain api.ipify.org while running. There are aroung 80 requests per 10 minutes as seen in the screenshots.

https://github.com/d-Rickyy-b/pastepwn/blob/master/pastepwn/core/pastepwn.py#L37

**Screenshots**

![image](https://user-images.githubusercontent.com/8517764/68697606-79c28c80-057f-11ea-821d-65a3829d2ace.png)
![image](https://user-i

[2019-11-12 18:32] d-Rickyy-b commented on #161
Great catch. Just two questions:

1) Which pastepwn version do you use?
2) What does your "config" file (where you include pastepwn) look like?

[2019-11-12 19:13] d-Rickyy-b commented on #161
It looks like pastepwn is restarting over and over and over again (every 7 seconds). It does not even start to connect to pastebin which is strange. Also no error is logged.

Could you try updating to v1.1.0 ?

[2019-11-13 16:10] DaRuudii commented on #161
Problem was an analyzer which was not implemented but then called upon. This led to a crash of pastepwn but because I configured it as a service to restart automatically, it restarted and failed again.

[2019-11-13 16:10] #161 closed

[2020-01-23 21:51] d-Rickyy-b opened #164 "New word analyzer that matches full words"
Optionally this can be implemented in the already existing analyzer.

[2020-01-26 13:37] #115 closed

[2020-01-26 16:13] d-Rickyy-b commented on #27
I just started implementing this. I love the idea to be able to get the results right from the analyzers. Basically we need 3 things:
- analyzers must return a list of matches - fallback to boolean where list of matches is not applicable
- pastedispatcher must put the matches in tuple put in the action_queue
- actionhandler must pass the matches object to the actions
- actions must take the matche

[2020-01-26 18:51] #98 closed

[2020-01-26 20:33] #102 closed

[2020-01-30 17:32] d-Rickyy-b opened #165 "Pastebin Action"
Implement a new action that gives you the ability to create a new paste on pastepwn with custom content.

[2020-01-31 19:50] d-Rickyy-b opened #166 "New Analyzer: Base64AsciiAnalyzer"
Implement a new analyzer that subclasses Base64Analyzer and only returns True if the found base64 decodes to valid ascii characters.

We can overwrite the verify method and call `super().verify(results)` before doing our base64 ascii decoding.

[2020-02-01 16:24] d-Rickyy-b opened #167 "Unused parameter "custom_payload" in TelegramAction"
TelegramAction has a parameter "custom_payload" that is not used anywhere. It should either be used or dropped.

https://github.com/d-Rickyy-b/pastepwn/blob/d37af685bc452c8c2f88b7443e001782a9b1fc7d/pastepwn/actions/telegramaction.py#L13

[2020-02-01 16:31] d-Rickyy-b commented on #27
This behaviour is pretty much implemented now in dev and only needs some testing and polishing.

For example: The templating engine I coded does not yet receive a copy of the matches, so it can't put in the matches by itself. I will try to fix this and have it running for a few days to see if everything works out as expected. Also I should document everything in the templating engine wiki page: ht

[2020-02-04 19:25] d-Rickyy-b opened #169 "'utf-8' codec can't decode byte 0x?? in position ?: invalid continuation byte"
When pastes contain non utf-8 characters, the decoding fails and downloading the paste is being stopped.

Errors logged at:
https://github.com/d-Rickyy-b/pastepwn/blob/1d9b82efa53d948f790b663a54d609150e65b32e/pastepwn/scraping/pastebin/pastebinscraper.py#L96-L100

and:
https://github.com/d-Rickyy-b/pastepwn/blob/1d9b82efa53d948f790b663a54d609150e65b32e/pastepwn/scraping/pastebin/pastebinscraper.py

[2020-02-04 19:26] d-Rickyy-b commented on #169
For this bug to be fixed, we need to use the raw bytes. That might break many analyzers.

[2020-02-05 09:19] d-Rickyy-b commented on #27
Fixed in a0e862490382e72169a3d31a200535d6170ec8a1

[2020-02-05 09:19] #27 closed

[2020-02-06 06:16] jonahrosenblum commented on #166
I'd like to take a shot at this.

[2020-02-06 06:20] d-Rickyy-b commented on #166
Thanks, I'd be very happy about that. If you have any questions, feel free to ask!

[2020-02-06 18:46] d-Rickyy-b commented on #167
Fixed in 7b13d757242af33ddc9ce1c2c3e5e3d7618cd4b5

[2020-02-06 18:46] #167 closed

[2020-02-06 18:54] d-Rickyy-b commented on #99
Fixed in 88abf882aecb1e5c1a92ea4d9b868d02d37de687

[2020-02-06 18:54] #99 closed

[2020-02-06 19:00] d-Rickyy-b commented on #11
By now there are several tests, especially for all the analyzers. Only tests for the core framwork are missing. Closing this issue for now.

[2020-02-06 19:00] #11 closed

[2020-02-09 23:25] jonahrosenblum commented on #166
Hey, I tried to send you a message on telegram but I'm not sure if it reached you. I have some questions about getting the databases to work, test cases, etc. if you don't mind.

[2020-02-09 23:27] d-Rickyy-b commented on #166
Hi there, I did not receive any message so far. You sent your message the right way? https://t.me/d_Rickyy_b is my username :)

[2020-02-10 00:58] jonahrosenblum commented on #166
I believe it sent correctly this time, please let me know if you still did not receive anything.

[2020-02-12 19:51] d-Rickyy-b opened #173 "Create contributing guidelines"
The guidelines should describe how you can contribute to this project.

References:
https://www.conventionalcommits.org/en/v1.0.0-beta.4/
https://keepachangelog.com/en/1.0.0/
https://semver.org/

[2020-02-12 20:31] d-Rickyy-b opened #174 "Implement multiple example files"
Currently there is only one example file. Users might not fully understand the capability of the tool and might get scared, because it involves setting up a database.

At least one other example file without the need of a database and maybe one with the usage of sqlite could help them.

[2020-02-27 22:17] zespirit opened #175 "pastepwn.core.actionhandler - ERROR - While performing the action 'EmailAction' the following exception occurred: ''Paste' object has no attribute 'template''"
Hi,

Im getting this error while running main.py

**pastepwn.core.actionhandler - ERROR - While performing the action 'EmailAction' the following exception occurred: ''Paste' object has no attribute 'template''**

i tried to swicth from telegram to email action in main.py

[code]

Please help me out as im loving the logging feature

[2020-02-27 23:11] d-Rickyy-b commented on #175
Hi there, could you please tell me which version of pastepwn you are using?
You can check with `pip freeze`.

Also it would be nice if you could send a full error log, not just a single line. That way I might get an important hint where the issue is coming from.

Thank you 😃

[2020-02-27 23:23] zespirit commented on #175
pastepwn==1.2.0
i installed it using pip3 install pastepwn
logging to the mysql DB works excellent.
just the other problem im having i cant seem to figure out how to solve.
thank you for getting back to me so quickly, support is amazing :-)

[2020-02-27 23:29] d-Rickyy-b opened #176 "DiscordAction using custom templating code"
The discord action still uses custom templating code instead of using the util.Templatingengine utility.

https://github.com/d-Rickyy-b/pastepwn/blob/26c9e426a195d403894f00638eca6c5687cbd959/pastepwn/actions/discordaction.py#L104-L109

[2020-02-27 23:31] zespirit commented on #175
main.py
# -*- coding: utf-8 -*-

import logging.handlers
import os

from pastepwn import PastePwn
from pastepwn.actions import EmailAction
from pastepwn.analyzers import MailAnalyzer, WordAnalyzer
from pastepwn.database import MysqlDB

# Setting up the logging
logdir_path = os.path.dirname(os.path.abspath(__file__))
logfile_path = os.path.join(logdir_path, "logs", "pastepwn.log")

if not os.path.e

[2020-02-27 23:35] zespirit commented on #175
this is what is shown after i run the script

2020-02-27 18:34:12,614 - pastepwn.util.request - INFO - Using the following custom proxies: None
2020-02-27 18:34:12,616 - pastepwn.util.request - INFO - Using the following system proxies: {}
2020-02-27 18:34:12,795 - pastepwn.core.pastepwn - INFO - Your public IP is 220.200.107.147
2020-02-27 18:34:12,795 - pastepwn.core.pastepwn - INFO - Database p

[2020-02-27 23:43] d-Rickyy-b commented on #175
Thanks for the details @zespirit - I was able to reproduce your issue.

It is because you did not instantiate `EmailAction`.

You need to create an instance of the EmailAction and pass it your email address and password, the receiver of the mail and the mail server's hostname. Use the following code and insert your data. That should be working:

main.py
[code]

If you entered your personal informa

[2020-02-27 23:52] zespirit commented on #175
Traceback (most recent call last):
  File "main2.py", line 18, in <module>
    pastepwn.add_analyzer(mail_analyzer)
NameError: name 'pastepwn' is not defined

is what i get back....

[2020-02-27 23:56] zespirit commented on #175
we can do an easier one if you want
like the irc...it produces the same results

[2020-02-27 23:58] d-Rickyy-b commented on #175
Yes, I removed some of the code for giving a minimal example. This is the full code for your main.py - that should work when you use the correct username/password/hostname.

[code]

[2020-02-28 00:03] zespirit commented on #175
trying now...one moment

[2020-02-28 00:15] zespirit commented on #175
Beautifull....this is wonderfull.
May i ask one last question to orient myself with the rest of the script.
can i use the email and irc actions at the same time?
can you tell me what to add to get irc to work also.
i am also willing to send a donation for all your time.
your support was amazing.

[2020-02-28 00:35] zespirit commented on #175
example
i added
from pastepwn.actions import EmailAction, IrcAction

irc_action = IrcAction(server="us.undernet.org", channel="#0daywarezs", port="6667", nick="pastepwns69")
irc_analyzer = MailAnalyzer(irc_action)
pastepwn.add_analyzer(irc_analyzer)

and got this error

pastepwn.core.actionhandler - ERROR - While performing the action 'IrcAction' the following exception occurred: 'an integer is re

[2020-02-28 00:36] d-Rickyy-b commented on #175
The port must be an integer. Try
[code]
(see that the quotes around the port number are gone now)

[2020-02-28 00:40] zespirit commented on #175
ok that error is gone and a new one showed up
pastepwn.core.actionhandler - ERROR - While performing the action 'IrcAction' the following exception occurred: '[Errno 106] Transport endpoint is already connected'.

so just to be clear i have email action before irc action, emails are showing up perfectly, irc is giving this error and not connecting or pasting to the room

pastepwn.core.actionhandle

[2020-02-28 00:45] d-Rickyy-b commented on #175
Yes, you can :)

1. To your imports (top of the file) add:
`from pastepwn.actions import IrcAction`
2. Then you need to create an instance of it and configure it (servername, nick, port, etc.) and add it to your code

Yes, you can.

I quickly wrote a gist for that. It's easier:
https://gist.github.com/d-Rickyy-b/e83dab86b812a3cacc112d1851223de2

Glad I could help you :)

[2020-02-28 00:47] d-Rickyy-b commented on #175
I will have a look at that tomorrow. It's quite late where I live and I should really be in bed right now 😋 . Let me know if you are able to fix the issue yourself. I haven't had to do a lot of testing for the IRC Action yet.

[2020-02-28 00:52] zespirit commented on #175
Thanks for your help msg me where i can send some funds for your time and work.
your project rocks...

[2020-02-28 19:56] zespirit commented on #175
Hello friend i have not had any luck with the IRC module
#irc_action = IrcAction(server="dallas.tx.us.undernet.org", channel="#beginner", port=6667, nick="pastepwn")

try to connect here if you want since i have mirc installed i will be able to see whether or not you are connected.
i personally tested all of the analyzers and all work as expected except ipv4, it cant find the class for some reason

[2020-02-28 21:32] d-Rickyy-b commented on #175
@zespirit could you create another issue for the IrcAction (with as much helpful information as possible) please? That way we can track it individually. Thank you!

[2020-02-28 22:24] zespirit commented on #175
great. mark this one as closed

[2020-02-28 22:27] d-Rickyy-b commented on #175
It will be closed automatically as soon as I merge the dev branch into master.

[2020-02-29 15:50] #175 closed

[2020-02-29 15:59] zespirit opened #177 "IRC Not Connecting"
**actions/ircaction.py**

[code]
_____________________________________________________________________________________________

**main.py**
[code]

___________________________________________________________________________________________

it runs but gives this error
[code]

the user does not appear in the room

[2020-02-29 16:01] zespirit opened #178 "Please Add the pastebin title in the mail action to identify the kind of paste"
instead of
Paste matched by pastepwn via analyzer "EmailPasswordPairAnalyzer"

would it be possible to add the pastebin title
Paste matched by pastepwn via analyzer "EmailPasswordPairAnalyzer + spotify"

[2020-03-01 00:30] d-Rickyy-b commented on #178
You mean the title of the paste which was found? Or what exactly should be added?

The EmailPasswordPairAnalyzer does not only find Spotify email/password combos.

[2020-03-01 13:33] zespirit commented on #178
"EmailPasswordPairAnalyzer + Pastebin_Title"
could be a format. if the title is in there it makes it easier to identify what the combo list is for

[2020-03-01 13:37] DaRuudii opened #179 "SaveFileAction tries to save pastes as given directory path"
https://github.com/d-Rickyy-b/pastepwn/blob/26c9e426a195d403894f00638eca6c5687cbd959/pastepwn/actions/savefileaction.py#L26

**Description**
The SaveFileAction uses the directory path for trying to save the paste there. Instead it should append the paste key as filename like in the SaveJSONAction.

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Create SaveFileAction with path parameter

[2020-03-01 18:23] d-Rickyy-b commented on #178
@zespirit you might want to check out the templating capabilities of pastepwn:

https://github.com/d-Rickyy-b/pastepwn/wiki/Templating-in-actions

You can easily control what should be sent in the action. You don't need to rely on the defaults.

### Example
[code]

If you have questions using this, feel free to ask again.

[2020-03-03 00:35] d-Rickyy-b commented on #177
Hi @zespirit. After I pushed a commit (6007864) yesterday, the IRC feature worked semi-good. I had several issues with my local IRC setup and I spent roughly 15+ hours on delivering a high quality IRC solution. The commit 546b87f should fix this up. I will notify you when this code is pushed to production and when you can try it out. Would appreciate feedback.

[2020-03-03 00:52] d-Rickyy-b opened #180 "Check uniqueness of matches"
Currently the list of matches contains a lot of duplicates. Maybe it would be nice to remove duplicates to only have unique values

[2020-03-03 01:59] zespirit commented on #177
No worries i have been following your changes to obverse and learn. I appreciate your knowledge in solving this issue. P.S. send me a MSG privately so i know where to send a donation. TY

[2020-03-04 22:38] d-Rickyy-b commented on #178
Hi @zespirit, did you manage to get this resolved? Then I'd close the issue.

[2020-03-04 22:40] #166 closed

[2020-03-04 22:40] #176 closed

[2020-03-04 22:40] #177 closed

[2020-03-04 22:40] #179 closed

[2020-03-04 22:58] d-Rickyy-b commented on #177
Hi there. I just pushed the dev code to prod in #183.

Could you please check, if the new IrcAction works as expected for you? If not, feel free to create another issue.

[2020-03-08 18:52] d-Rickyy-b commented on #180
On the other hand, maybe someone would like to know how many matches of a certain word were contained in a match. Hence passing a unique list would mean passing a false result

[2020-03-13 13:52] AR4Z commented on #174
Hi, I'm interested in contributing. Could I help to solver this?

[2020-03-15 12:26] d-Rickyy-b commented on #174
Hi @AR4Z - I'd be very happy about any help. Feel free to provide some different example files using different analyzers/actions, maybe also explaining the feature of combining analyzers:

https://github.com/d-Rickyy-b/pastepwn/blob/master/pastepwn/analyzers/basicanalyzer.py#L56-L65

One can use (analyzer1 or analyzer2) to get a new analyzer object that matches when any of both analyzers match.

Y

[2020-03-23 20:53] d-Rickyy-b commented on #178
Hi @zespirit - you didn't get back to me, so I am going to close this issue. If you still got questions, feel free to open another one.

[2020-03-23 20:53] #178 closed

[2020-03-23 20:54] d-Rickyy-b commented on #180
Maybe we can use a parameter "unique_matches" which determines of the results should be unique or not.

[2020-05-06 16:20] salmannotkhan commented on #180
how can i help please guide me regarding testing and module structure

[2020-05-10 14:39] d-Rickyy-b commented on #180
Hi @salmannotkhan, testing can be done all locally - no pastebin access required.

Currently each analyzer in https://github.com/d-Rickyy-b/pastepwn/tree/master/pastepwn/analyzers will generate an array called "matches", that contains all the matched data from a single paste.

The corresponding action to that analyzer will receive the "matches" array.

Now I personally think it would be best to im

[2020-05-10 15:16] salmannotkhan commented on #180
Type of matches is list?

[2020-05-10 15:18] d-Rickyy-b commented on #180
Exactly!

[2020-05-14 16:27] salmannotkhan commented on #180
In Readme it is mentioned that to use this tool I need pastebin premium account?
There are so many analyzers in that folder can you please explain how to exactlly run this thing

[2020-05-17 09:52] d-Rickyy-b commented on #180
Yes, you need a pastebin premium account for actually using the tool. But you don't need that for testing the code.

Each analyzer takes a [paste object](https://github.com/d-Rickyy-b/pastepwn/blob/master/pastepwn/core/paste.py) as argument to the match function (check [this](https://github.com/d-Rickyy-b/pastepwn/blob/f91a0ff64821b25ce6a1dc571bc0bb1375b97bf9/pastepwn/analyzers/regexanalyzer.py#L2

[2020-05-17 10:31] salmannotkhan commented on #180
how can i see matches list? that does it contain duplicate or not. I ran the test on basicanalyzer it just return 'OK' as output i can't see any list of matches to check where it is getting duplicates

[2020-05-17 10:39] d-Rickyy-b commented on #180
You are right. The basic analyzer is a base class and won't return any matches. In general the match function of any other analyzer will return a list of strings of all matches

It could look like this:

["match", "password", "myemail@example.com", "match"]

You can check the other analyzer unit tests to get actually results.

[2020-05-17 10:40] salmannotkhan commented on #180
we can use matches = set(list(matches))

[2020-05-17 10:41] d-Rickyy-b commented on #180
That's a good idea!

[2020-05-17 10:42] salmannotkhan commented on #180
well i tried other tests also still can't see any list

[2020-05-17 10:45] d-Rickyy-b commented on #180
Check the [regex analyzer](https://github.com/d-Rickyy-b/pastepwn/blob/f91a0ff64821b25ce6a1dc571bc0bb1375b97bf9/pastepwn/analyzers/tests/regexanalyzer_test.py)

There you can see that I am using the result from the match() function to test if the analyzer works correctly

[2020-05-17 10:45] salmannotkhan commented on #180
So, we can make a function

[code]

[2020-06-30 02:20] abc22413 commented on #164
Could I find out what such a word analyzer entails? Is it similar to a conventional word search function?

[2020-06-30 19:59] d-Rickyy-b commented on #164
Hi @abc22413 - sorry for the long wait. Currently when creating a [WordAnalyzer](https://github.com/d-Rickyy-b/pastepwn/blob/master/pastepwn/analyzers/wordanalyzer.py) and passing "foo", it will also match occurrences of "foobar" or "barfoo". My thought was that we could create another analyzer that only matches "foo" standing alone. E.g. it would match "test foo bar" or "test foo.". This might be

[2020-07-04 21:36] d-Rickyy-b opened #190 "Use listify for certain analyzers"
I found that certain analyzers are still using their own "listify" code.

e.g.

https://github.com/d-Rickyy-b/pastepwn/blob/9b2fee22857e54a5312fdb3d388b472a7d271c50/pastepwn/analyzers/wordanalyzer.py#L12-L17

This should not be the case.

[2020-08-28 09:52] ayedaemon commented on #54
Is this still open?

[2020-08-28 10:55] d-Rickyy-b commented on #54
Still open, @ayedaemon

[2020-08-28 10:59] d-Rickyy-b commented on #54
Although there has been a pull request that could use a review

[2020-09-24 04:50] dependabot-preview[bot] opened #193 "Dependabot couldn't authenticate with https://pypi.python.org/simple/"
Dependabot couldn't authenticate with https://pypi.python.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/d-Rickyy-b) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/d-Rickyy-b/update-logs/48537455).

[2020-09-24 22:06] d-Rickyy-b commented on #193
Seems to be a dependabot issue https://github.com/dependabot/dependabot-core/issues/2550

[2020-09-24 22:06] #193 closed

[2020-09-25 04:55] dependabot-preview[bot] opened #195 "Dependabot couldn't authenticate with https://pypi.python.org/simple/"
Dependabot couldn't authenticate with https://pypi.python.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/d-Rickyy-b) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/d-Rickyy-b/update-logs/48675681).

[2020-09-25 13:03] grplyler commented on #57
Hi there! I am looking to contribute for Hacktoberfest 2020. Is this issue still up for grabs?

[2020-09-26 19:09] d-Rickyy-b commented on #57
Hi @grplyler sorry for the wait. I tried to implement this behavior in https://github.com/d-Rickyy-b/pastepwn/commit/3483566870e6fd852eb462e31074817b02d67bdf - maybe you can take a quick look and if you find something to improve, I'd be glad to have a PR from you - no matter how big it is.

[2020-09-26 19:10] #195 closed

[2020-10-01 06:30] Vrim commented on #180
I believe my PR #196 closes this issue.
I noticed the changelog notification from the CI. My bad.
Not sure if I should add or let someone else do it.

[2020-10-01 11:58] colinlcrawford commented on #190
@d-Rickyy-b should the words param always be of type List (or None)? or is there a different "listify" function you have in mind?

[2020-10-01 12:41] d-Rickyy-b commented on #190
Hi @colinlcrawford, you can use the [listify](https://www.github.com/d-Rickyy-b/pastepwn/tree/master/pastepwn%2Futil%2Flistify.py) util function in analyzers whenever it should be possible to handle multiple inputs. I think it would be cool to handle multiple inputs for the whole word analyzer. Feel free to add this feature :)

Thanks in advance.

[2020-10-01 13:20] colinlcrawford commented on #190
Hey @d-Rickyy-b , I did a scan of the analyzers and it looks like they've all been updated. The wordanalyzer ^ has been updated in dev and I made the update in my PR for the exactwordanalyzer as well

[2020-10-28 14:26] Pooja269 commented on #164
Hi.. Can I work on this issue?

[2020-10-28 18:14] d-Rickyy-b commented on #164
Hi @Pooja269, sure go ahead. Ping me when you need anything.

[2020-12-27 03:09] d-Rickyy-b opened #205 "Build pypi package via GH Action"
We need to replace those lines in the setup to also match the GH workflow:

https://github.com/d-Rickyy-b/pastepwn/blob/9b2fee22857e54a5312fdb3d388b472a7d271c50/setup.py#L25-L30

[2021-01-14 00:25] d-Rickyy-b opened #206 "Order analyzer execution in MergedAnalyzer by performance score"
Currently the execution order of analyzers in MergedAnalyzers depends on how they were joined.

`A & B` will run A first, then B.

It makes much sense to have some sort of performance score that will define the execution order. Lower scores mean faster execution.

The only issue I can currently think of: MergedAnalyzers need a performace score themselves. What would that be?

Could the performance

[2021-01-14 02:13] king-phyte commented on #180
Please close this issue seeing as it is resolved

[2021-01-15 00:29] d-Rickyy-b commented on #180
Fixed in #198

[2021-01-15 00:29] #180 closed

[2021-01-15 00:32] d-Rickyy-b commented on #164
Added in #194 - not merged into master yet.

[2021-01-15 00:32] #164 closed

[2021-01-15 00:48] d-Rickyy-b commented on #190
Fixed in https://github.com/d-Rickyy-b/pastepwn/commit/0f60fbace3943752a0b415dd97fabfa807981a56

[2021-01-15 00:48] #190 closed

[2021-01-15 00:49] d-Rickyy-b commented on #205
Implemented in https://github.com/d-Rickyy-b/pastepwn/commit/adb443e8c0ae1b866200c97503f16651e77da7fc

[2021-01-15 00:49] #205 closed

[2021-01-15 00:53] d-Rickyy-b commented on #57
Implemented in dev

[2021-01-15 00:53] #57 closed

[2021-01-15 01:01] d-Rickyy-b commented on #54
Closed via #157

[2021-01-15 01:01] #54 closed

[2021-02-13 11:32] Nocommas555 commented on #53
As far as i know, to do an sql injection you would need a lot more chars then for a db name.

Checking the name with the regex ^([A-Za-z_-]+)$ should remove any injections while still accepting almost all database names

https://regexr.com/5md5r

[2021-02-13 11:35] Nocommas555 commented on #53
This leaves the possibility to do '--' and comment out the rest of the command, but that would just throw an exception and not do anything with the db.

[2021-04-07 13:11] Ni3dzwi3dz commented on #174
Hi, is it still open?

[2021-04-12 07:46] d-Rickyy-b commented on #174
Hi @Ni3dzwi3dz and sorry. I totally missed your message. Yes it's still open. We currently have only a single example file and we could use a few others as well.

[2021-07-19 19:36] AnudeepGunukula commented on #174
Hi, i am interested in this project. I have started working on it. I will try to implement new examples.

[2021-10-07 20:09] borng-osu commented on #173
Ok, thanks! I'll see what I can do. I'm pretty familiar with contributing guidelines from researching other OSS projects, so I might use some of the ones I prefer as jumping off points.

[2021-10-30 00:29] borng-osu commented on #173
So glad I could help! Thanks for the positive feedback!

[2022-01-07 12:15] d-Rickyy-b commented on #173
Fixed in https://github.com/d-Rickyy-b/pastepwn/pull/219

[2022-01-07 12:15] #173 closed

[2022-01-07 12:50] paulosgf commented on #53
Hello @d-Rickyy-b!
I didn't understand the need just to the database name. The username and password don't be variables too? And thus, would be subject to SQLi too?
I suggest using a YAML configuration file with all user-defined values. Or even an environment variable, like his hostname.
What do you think?

[2022-10-06 19:22] Nibba2018 commented on #165
Hi @d-Rickyy-b I would like to work on this if it's still available.

[2022-10-06 19:25] d-Rickyy-b commented on #165
Hi @Nibba2018, sure should be pretty easy going.

Check the docs at https://pastebin.com/doc_api#2

Also check the existing actions at https://github.com/d-Rickyy-b/pastepwn/tree/master/pastepwn/actions as well as the [detail architecture dawing](https://github.com/d-Rickyy-b/pastepwn/blob/master/documentation/pastepwn-detail-architecture.png)

[2022-10-07 10:22] Nibba2018 commented on #165
@d-Rickyy-b Thank you for the resources, I am on it.